<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblio-TK ● Inicio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="~/Content/navbar.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BiblioTK", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="searchbar">

                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li id="userPage">
                        @Html.ActionLink("Catalogo", "Index", "Catalogo")
                    </li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>


            @if (User.Identity.IsAuthenticated)
            {
                <form class="navbar-form">
                    <div class="form-group" style="display:inline;">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                            <input class="form-control" name="search" placeholder="Buscar" autocomplete="off" autofocus="autofocus" type="text">
                        </div>
                    </div>
                </form>
            }
                
                
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <!-- Content -->
    <div class="body-content">
        <div class="row">
            <div class="col-12">
                @RenderBody()
            </div>
        </div>
        @*<div class="row">
            <div class="col-12">
                @RenderSection("SPAViews", required: false)
            </div>
        </div>*@      
          <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BiblioTK Version 3</p>
            <small>The information on the Site is provided for educational or information purposes only</small>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/Catalogo.css" rel="stylesheet" />
    <link href="~/Content/medias.css" rel="stylesheet" />
    <script type="text/javascript">

        $(document).ready(function () {

            GetData();
            $(window).unbind('scroll');//!esta linea sirve para que GetData no sea llamado dos veces al hacer scroll down.
            $(window).scroll(function () {
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                    GetData();
                }
            });
        });


    </script>

</body>
</html>
