@model IEnumerable<BiblioTK.Modelos.CatalogoResult>

<div class="container">
    <h2>Catalogo de Libros</h2>
    <div class="list-group">

        @foreach (var item in Model)
            {
            <a href="#" class="list-group-item">
                <h4 class="li-head">@item.cat_Titulo</h4>
                <p class="li-sub">@item.autor_nombrecompleto</p>
                <p class="li-sub">@item.cat_Año</p>
            </a>
        }

    </div>
</div>


@*@model IEnumerable<BiblioTK.Modelos.CatalogoResult>

    @{
        ViewBag.Title = "Index";
    }

    <div class="container">
        <h2>Catalogo de Libros</h2>
        <div class="list-group">

            @foreach (var item in Model)
            {
                <a href="#" class="list-group-item">
                    <h4 class="li-head">@item.cat_Titulo</h4>
                    <p class="li-sub">@item.autor_nombrecompleto</p>
                    <p class="li-sub">@item.cat_Año</p>
                </a>
            }


        </div>
    </div>*@

