@model BiblioTKProject.Models.CatalogoIndexModelView
@{
    var modelo = Model;
 }
<div>
    <div class="row">
        <div class="col-sm-2 col-4 hidden-sm">
 
            @{Html.RenderPartial("ClasificacionPrincipalMenu", Model.ClasificacionPrincipalMenu);}

        </div>
        <div class="col-sm-7 col-12">
            <div class="row">
                <div class="container">
                    <h2>Catalogo de Libros</h2>
                    <div id="DivLibros" class="list-group">
                        @*se carga via ajax*@
                    </div>
                </div>
                <div id="progress" style="display:none">
                    <h4>Cargando...</h4>
                </div>
                 @*@{Html.RenderPartial("Catalogo", Model.Libros);};*@
             
            </div>
        </div>
        <div class="col-sm-3 col-4 hidden-sm">
            <div class="sidebar-nav-fixed pull-right affix">


                @*@{Html.RenderPartial("Top10", Model.Top10Menu);}*@
                <div class="well">
                    <h3><a href="http://getbootstrap.com">Top 10/7 Dias</a></h3>
                    @foreach (var item in Model.Top10Menu)
                {
                    var inverso = item.cat_Titulo.Length - (item.cat_Titulo.Length / 2);
                    if (inverso > 20)
                    {<small><a href="#">@item.cat_Titulo.Substring(0, inverso).ToString() ...</a></small><br />}
                    else
                    {    <small><a href="#">@item.cat_Titulo</a></small><br />}
                }

                </div>
                <div class="well">
                    <h3><a href="http://getbootstrap.com">Nuevos Materiales</a></h3>
                    @foreach (var item in Model.NuevosMaterialesMenu)
                {
                    var inverso = item.cat_Titulo.Length - (item.cat_Titulo.Length / 2);
                    if (inverso > 20)
                    {<small><a href="#">@item.cat_Titulo.Substring(0, inverso).ToString() ...</a></small><br />}
                    else
                    {    <small><a href="#">@item.cat_Titulo</a></small><br />}
                }

                </div>

            </div>
        </div>

    </div>
 
</div>
<script src="~/Scripts/catalogoGetData.js"></script>


@*@model IEnumerable<BiblioTK.Modelos.CatalogoResult>

@{
    ViewBag.Title = "Index";
}
 
<div class="container">
    <h2>Catalogo de Libros</h2>
    <div class="list-group">

        @foreach (var item in Model)
        {
            <a href="#" class="list-group-item">
                <h4 class="li-head">@item.cat_Titulo</h4>
                <p class="li-sub">@item.autor_nombrecompleto</p>
                <p class="li-sub">@item.cat_Año</p>
            </a>
        }
        
        
    </div>
</div>*@
